# Weeklies

> :clock12: Created at: {{ timestamp }}

|               |                                                                                                                                                                                                                            |
|--------------:|----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
| **Weeklies**  | [![weekly {{ branch }}](https://github.com/lulzbot3d/CuraLE/actions/workflows/{{ caller_workflow }}/badge.svg{{ branch_specific }}?event=schedule)](https://github.com/lulzbot3d/CuraLE/actions/workflows/installers.yml)  |

## Unit Test Results

|                                  |                                                                                                                                                                                                                                   |
|---------------------------------:|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|          **CuraLE {{ branch }}** | [![unit-test](https://github.com/lulzbot3d/CuraLE/actions/workflows/unit-test.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraLE/actions/workflows/unit-test.yml)                                           |
|    **CuraEngineLE {{ branch }}** | [![unit-test](https://github.com/lulzbot3d/CuraEngineLE/actions/workflows/unit-test.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraEngineLE/actions/workflows/unit-test.yml)                               |
|       **UraniumLE {{ branch }}** | [![unit-test](https://github.com/lulzbot3d/UraniumLE/actions/workflows/unit-test.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/UraniumLE/actions/workflows/unit-test.yml)                                     |
| **CuraEngineLE GradualFlow 0.1** | [![unit-test](https://github.com/lulzbot3d/CuraEngineLE_Plugin_Gradual_Flow/actions/workflows/unit-test.yml/badge.svg?branch=0.1)](https://github.com/lulzbot3d/CuraEngineLE_Plugin_Gradual_Flow/actions/workflows/unit-test.yml) |
|                 **libSavitarLE** | [![unit-test](https://github.com/lulzbot3d/libSavitarLE/actions/workflows/unit-test.yml/badge.svg)](https://github.com/lulzbot3d/libSavitarLE/actions/workflows/unit-test.yml)                                                    |
|                  **libnest2dLE** | [![unit-test](https://github.com/lulzbot3d/libnest2dLE/actions/workflows/unit-test.yml/badge.svg)](https://github.com/lulzbot3d/libnest2dLE/actions/workflows/unit-test.yml)                                                      |

## Conan Packages

|                                       |                                                                                                                                                                                                                                               |
|--------------------------------------:|-----------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------|
|               **CuraLE {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/CuraLE/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraLE/actions/workflows/conan-package.yml)                                           |
|         **CuraEngineLE {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/CuraEngineLE/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraEngineLE/actions/workflows/conan-package.yml)                               |
|            **UraniumLE {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/Uranium/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/UraniumLE/actions/workflows/conan-package.yml)                                       |
|     **CuraLE_Resources {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/CuraLE_Resources/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraLE_Resources/actions/workflows/conan-package.yml)                       |
|      **FDM_MaterialsLE {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/FDM_MaterialsLE/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/FDM_MaterialsLE/actions/workflows/conan-package.yml)                         |
|   **CuraLE Binary Data {{ branch }}** | [![conan-package](https://github.com/lulzbot3d/CuraLE_Binary_Data/actions/workflows/conan-package.yml/badge.svg{{ branch_specific }})](https://github.com/lulzbot3d/CuraLE_Binary_Data/actions/workflows/conan-package.yml)                   |
|      **CuraEngineLE GradualFlow 0.1** | [![conan-package](https://github.com/lulzbot3d/CuraEngineLE_Plugin_Gradual_Flow/actions/workflows/conan-package.yml/badge.svg?branch=0.1)](https://github.com/lulzbot3d/CuraEngineLE_Plugin_Gradual_Flow/actions/workflows/conan-package.yml) |
|        **SynsepalumDulcificumLE 0.1** | [![conan-package](https://github.com/lulzbot3d/SynsepalumDulcificumLE/actions/workflows/conan-package.yml/badge.svg?branch=0.1)](https://github.com/lulzbot3d/SynsepalumDulcificumLE/actions/workflows/conan-package.yml)                     |
| **CuraEngineLE gRPC Definitions 0.1** | [![conan-package](https://github.com/lulzbot3d/CuraEngineLE_gRPC_Definitions/actions/workflows/conan-package.yml/badge.svg?branch=0.1)](https://github.com/lulzbot3d/CuraEngineLE_gRPC_Definitions/actions/workflows/conan-package.yml)       |
|                          **libArcus** | [![conan-package](https://github.com/lulzbot3d/libArcusLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/libArcusLE/actions/workflows/conan-package.yml)                                                        |
|                           **pyArcus** | [![conan-package](https://github.com/lulzbot3d/pyArcusLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/pyArcusLE/actions/workflows/conan-package.yml)                                                          |
|                        **libSavitar** | [![conan-package](https://github.com/lulzbot3d/libSavitarLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/libSavitarLE/actions/workflows/conan-package.yml)                                                    |
|                         **pySavitar** | [![conan-package](https://github.com/lulzbot3d/pySavitarLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/pySavitarLE/actions/workflows/conan-package.yml)                                                      |
|                         **libnest2d** | [![conan-package](https://github.com/lulzbot3d/libnest2dLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/libnest2dLE/actions/workflows/conan-package.yml)                                                      |
|                          **pynest2d** | [![conan-package](https://github.com/lulzbot3d/pynest2dLE/actions/workflows/conan-package.yml/badge.svg)](https://github.com/lulzbot3d/pynest2dLE/actions/workflows/conan-package.yml)                                                        |
